

<div class="container">
  <div id="header" style="width: 100%; overflow: hidden">
  <div id="logo"><img src="../images/CIY_logo.png" alt="CIY logo" id="ciy-logo"></div>
  <div id="intro"><p>Welcome to Cook It Yourself!  A place where you can create and store your
  own personal recipes.  You can also search for recipes to try on your own and
  cook it yourself!</p></div>
  </div>
</div>

<div>

</div>


<div class="container" id="search-box">
  <input type="search" placeholder="Search for..." ng-change="vm.search()" ng-model="vm.searchText" ng-model-options="{debounce:500}">
</div>

<table class="table table-striped">
  <tr ng-repeat="r in vm.recipes">
    <td>{{r.label}}</td>
    <td><img ng-src="{{r.image}}"></td>
    <td><button ng-click="vm.showDetail(r.label)" class="btn btn-primary btn-sm">Details</button></td>
  </tr>
</table>
