/*body {
  background-image: url('http://3.bp.blogspot.com/-j8wU6bsNXJ0/UiTM1q2BQGI/AAAAAAAAn0Y/0qi4bp55kuY/s1600/DSC08507-1.jpg');
}
*/

#search-box {
  width: 500px;
  margin: auto;
}

#post-recipe {
  position: absolute;
  left: 11px;
}



